{%extends "base.html" %}<!--uses the base template to be overidden-->
<title>{% block title%}Portfolio{%endblock%}</title>
{%block Nav%}
<ul>
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/portfolio">Portfolio</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
{%endblock%}
{%block Admin_Upload%}
<form action="/upload-image" method="POST" enctype="multipart/form-data"> 
    <div class="from-group" style="max-width: 350px;" align="center">
        <label style="color:white">Select image</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Upload Image</button>
</form>
{%endblock%}